 .feedContainer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
  }

  .feedUl {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedLi {
    width: 28rem;
  }

  .feedCard {
    margin: 10px;
  }

  .feedCard img {
    width: 100%;
    height: 240px !important;
    object-fit: contain;
  }

  /* Media query for screens under 900px */ 
  @media (max-width: 900px) {
    .feedLi {
      width: 22rem;
    }
  }

  /* Media query for screens under 600px */
  @media (max-width: 600px) {
    .feedLi {
      width: 24rem;
    }
  }
