.profileFeed {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    align-content: center;
    align-items: baseline;
}

.profileFeedItem {
    width: 300px;
    height: 400px;
    list-style: none;
}